{% extends "aplicacion/base/baselogin.html" %}
{% load static %}
    
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="password-container">
                    <h2 class="text-center mb-4">Nueva Contraseña</h2>
                    <form action="{% url 'iniciar' %}">
                        <div class="form-group">
                            <label for="newPassword">Nueva Contraseña:</label>
                            <input type="password" class="form-control" id="newPassword"
                                placeholder="Ingrese su nueva contraseña" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirmar Contraseña:</label>
                            <input type="password" class="form-control" id="confirmPassword"
                                placeholder="Confirme su nueva contraseña" required>
                        </div>
                        <button type="submit" class="btn btn-dark btn-block">Guardar Contraseña</button>
                        <a href="{% url 'verificar' %}" class="btn btn-dark btn-block">Volver</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}