{% extends "aplicacion/base/baselogin.html" %}
{% load static %}
    
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="verify-container">
                    <h2 class="text-center mb-4">Verificar Código</h2>
                    <form action="{% url 'nuevacontra' %}">
                        <div class="form-group">
                            <label for="code">Ingrese el Código de 4 Dígitos:</label>
                            <input type="text" class="form-control" id="code" placeholder="Ingrese el código recibido" required minlength="4" maxlength="4">
                        </div>
                        <button type="submit" class="btn btn-dark btn-block">Verificar Código</button>
                        <a href="{% url 'recuperar' %}" class="btn btn-dark btn-block">Volver</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}