{% extends "aplicacion/base/baseadmin.html" %}
{% load static %}

{% block content %}
<!-- Contenido -->
<div class="container">
    <h2 class="mb-4">Bienvenido al Panel de Administración</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Usuarios</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Administre los usuarios de la plataforma.</p>
                    <a href="{% url 'usuarios' %}" class="btn btn-dark">Ir a Usuarios</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Pedidos</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Gestione los pedidos de los clientes.</p>
                    <a href="{% url 'pedidos' %}" class="btn btn-dark">Ir a Pedidos</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Ventas</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Revise las ventas realizadas.</p>
                    <a href="{% url 'inventario' %}" class="btn btn-dark">Ir a Inventario</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contenido -->
<div class="container">
    <!-- Gráficos de estadísticas -->
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Ventas Mensuales</h5>
                </div>
                <div class="card-body">
                    <canvas id="ventas-chart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Registros de Usuarios</h5>
                </div>
                <div class="card-body">
                    <canvas id="usuarios-chart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript para inicializar los gráficos -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'aplicacion/js/admin.js' %}"></script>

{% endblock content %}