{% extends "aplicacion/base.html" %}
{% load static %}

{% block content %}
<br><br><br>
<div class="card">
    <div class="card-body">
        <h2>Listado de pedidos</h2>
        <a href="{% url "crearpedido" %}" role='button' class='btn btn-sm text-primary' style="font-weight:bold">+ Agregar Pedido</a>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th>Dirección</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in entity %}
                    <tr>
                        <td>{{ p.id }}</td>
                        <td>{{ p.nombre_usuario }}</td>
                        <td>{{ p.fecha_pedido }}</td>
                        <td>{{ p.direccion_envio.calle }}, {{ p.direccion_envio.ciudad }}, {{ p.direccion_envio.region }}</td>
                        <td>
                            <span class="badge {% if p.estado == 'En_camino' %}bg-warning text-white{% elif p.estado == 'Entregado' %}bg-success text-white{% elif p.estado == 'Cancelado' %}bg-danger text-white{% endif %}">{{ p.estado }}</span>
                        </td>
                        <td>
                            <a href="{% url 'detalles_pedido' p.id %}" class="btn btn-info btn-sm" style="background-color: #007bff; border-color: #007bff;">
                                <i class="fas fa-info-circle"></i> Ver Detalles
                            </a>
                            <a href="{% url 'modificarpedido' p.id %}" class="btn btn-warning btn-sm">
                                <i class="fas fa-edit"></i> Modificar
                            </a>
                            <a href="{% url 'eliminarpedido' p.id %}" role="button" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Eliminar
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            {% include 'aplicacion/paginator.html' %}
        </div>
    </div>
</div>
{% endblock %}
