{% extends "aplicacion/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="mt-5 mb-4">Catálogo de Vinilos</h2>
    <div class="row">
        <!-- Iterar sobre los discos -->
        {% for disco in discos %}
        <div class="col-md-4">
            <div class="vinilo">
                <img src="{{ disco.imagen.url }}" alt="{{ disco.nombre }}" class="img-fluid">
                <h4 class="mt-3">{{ disco.titulo }}</h4>
                <p>{{ disco.artista }}</p>
                <p>${{ disco.precio }}</p>
                {% if user.is_authenticated %}
                <form action="{% url 'agregar_al_carrito' disco.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-dark btn-agregar">Agregar al Carrito</button>
                </form>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-dark btn-agregar">Agregar al Carrito</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
