{% extends "aplicacion/base.html" %}
{% load static %}
    
{% block content %}

    <!-- SLIDER -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src=".{% static 'aplicacion/img/slider1.webp' %}" class="d-block w-100" alt="slider 1">
                <div class="carousel-caption">
                    <h5>Explora nuestra colección</h5>
                    <p>Encuentra los vinilos más icónicos de tus artistas favoritos.</p>
                    <a href="{% url 'catalogo' %}" class="btn btn-shop">Ir al Catálogo</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'aplicacion/img/slider2.webp' %}" class="d-block w-100" alt="slider 2">
                <div class="carousel-caption">
                    <h5>Descubre nuevas tendencias</h5>
                    <p>Explora nuestros lanzamientos más recientes y descubre nuevas joyas musicales.</p>
                    <a href="{% url 'catalogo' %}" class="btn btn-shop">Ir al Catálogo</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'aplicacion/img/slider3.png' %}" class="d-block w-100" alt="slider 3">
                <div class="carousel-caption">
                    <h5>Ofertas especiales</h5>
                    <p>Aprovecha nuestras promociones y encuentra vinilos a precios increíbles.</p>
                    <a href="{% url 'catalogo' %}" class="btn btn-shop">Ir al Catálogo</a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>

    
    <!-- Verificar si el usuario está autenticado -->
    {% if user.is_authenticated %}
            <!-- Sección para mostrar la ubicación basada en IP -->
            <div class="container mt-4">
                <h2>Tu ubicación:</h2>
                <p id="location">Cargando...</p>
            </div>
            {% block js %}
            <!-- Código para obtener ubicación basada en IP usando ipapi -->
            <script src={% static 'aplicacion/js/geolocal.js' %}>
            </script>
            {% endblock %}
    {% endif %}
    

{% endblock content %}