{% extends "aplicacion/base.html" %}
{% load static %}

{% block content %}
<br><br><br>
<div class="card">
    <div class="card-body">
        <h2>Mis Pedidos</h2>
        <table class="table table-striped table-hover table-responsive-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha pedido</th>
                    <th>Direccion</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for p in entity %}
                <tr>
                    <td>{{ p.id}}</td>
                    <td>{{ p.fecha_pedido }}</td>
                    <td>{{ p.direccion_envio.calle }} , {{ p.direccion_envio.ciudad }},  {{ p.direccion_envio.region }}</td>
                    <td><span class="badge {% if p.estado == 'En_camino' %}bg-warning text-white{% elif p.estado == 'Entregado' %}bg-success text-white{% elif p.estado == 'Cancelado' %}bg-danger text-white{% endif %}">{{ p.estado }}</span></td>
                    <td>
                        <a href="{% url 'detalles_pedido_usuario' p.id %}" class="btn btn-info btn-sm" style="background-color: #007bff; border-color: #007bff;">
                            <i class="fas fa-trash-alt"></i> Ver Detalles
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            {% include 'aplicacion/paginator.html' %}
        </div>
    </div>
</div>
{% endblock %}
