
{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Vinilos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="{% static 'aplicacion/img/vinilo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'aplicacion/css/main.css' %}">


</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <span class="text-light fs-5 fw-bold">Vinyl Store</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'indexiniciado' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalogoiniciado' %}">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin' %}">Admin</a>
                    </li>
                </ul>
                <!-- Carrito botón -->
                <a class="btn btn-secondary" href="#" onclick="toggleCart()">
                    <i class="fas fa-shopping-cart"></i>
                </a>
                <!-- Dropdown para el usuario -->
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'verpedidos' %}">Ver pedidos</a></li>
                        <li><a class="dropdown-item" href="{% url 'index' %}">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- Carrito -->
    <div class="cart" id="shoppingCart">
        <div class="cart-header">
            <h5>Carrito de Compras</h5>
            <button class="btn btn-close btn-close-white" onclick="toggleCart()"></button>
        </div>
        <div class="cart-body" id="cartBody">
            <!-- Productos del carrito se agregarán aquí -->
        </div>
        <div class="cart-total" id="cartTotal">
            <p>Total:</p>
            <p>$0.00</p>
        </div>
        <div class="cart-actions">
            <button class="btn btn-primary" onclick="checkout()">Pagar</button>
        </div>
    </div>

    <!-- Carrito -->
    <div class="cart" id="shoppingCart">
        <div class="cart-header">
            <h5>Carrito de Compras</h5>
            <button class="btn btn-close btn-close-white" onclick="toggleCart()"></button>
        </div>
        <div class="cart-body" id="cartBody">
            <!-- Productos del carrito se agregarán aquí -->
        </div>
        <div class="cart-total" id="cartTotal">
            <p>Total:</p>
            <p>$0.00</p>
        </div>
        <div class="cart-actions">
            <button class="btn btn-primary" onclick="checkout()">Pagar</button>
        </div>
    </div>

    <!-- Catálogo -->
    <div class="container">
        <h2 class="mt-5 mb-4">Catálogo de Vinilos</h2>
        <div class="row">
            <!-- Vinilo 1 -->
            <div class="col-md-4">
                <div class="vinilo">
                    <img src="{% static 'aplicacion/img/slider1.webp' %}" alt="Vinilo 1" class="img-fluid">
                    <h4 class="mt-3">Are You Experienced</h4>
                    <p>Jimi Hendrix</p>
                    <p>$20.00</p>
                    <button class="btn btn-dark"
                        onclick="addToCart('/img/slider1.webp', 'Are You Experienced', 'Jimi Hendrix', 20.00)">Agregar
                        al Carrito</button>
                </div>
            </div>
            <!-- Vinilo 2 -->
            <div class="col-md-4">
                <div class="vinilo">
                    <img src="{% static 'aplicacion/img/slider2.webp' %}" alt="Vinilo 2" class="img-fluid">
                    <h4 class="mt-3">Greatest Hits I</h4>
                    <p>Queen</p>
                    <p>$25.00</p>
                    <button class="btn btn-dark"
                        onclick="addToCart('../img/slider2.webp', 'Greatest Hits I', 'Queen', 25.00)">Agregar al
                        Carrito</button>
                </div>
            </div>
            <!-- Vinilo 3 -->
            <div class="col-md-4">
                <div class="vinilo">
                    <img src="{% static 'aplicacion/img/slider3.png' %}" alt="Vinilo 3" class="img-fluid">
                    <h4 class="mt-3">Greatest Hits</h4>
                    <p>Tom Petty</p>
                    <p>$30.00</p>
                    <button class="btn btn-dark"
                        onclick="addToCart('../img/slider3.png', 'Greatest Hits', 'Tom Petty', 30.00)">Agregar al
                        Carrito</button>
                </div>
            </div>
        </div>

        <!-- Segunda fila -->
        <div class="row mt-5">
            <!-- Vinilo 4 -->
            <div class="col-md-4">
                <div class="vinilo">
                    <img src="{% static 'aplicacion/img/darkside.webp' %}" alt="Vinilo 4" class="img-fluid">
                    <h4 mt-3>Dark Side of the Moon</h4>
                    <p>Pink Floyd</p>
                    <p>$35.00</p>
                    <button class="btn btn-dark"
                        onclick="addToCart('../img/darkside.webp', 'Dark Side of the Moon', 'Pink Floyd', 35.00)">Agregar
                        al Carrito</button>
                </div>
            </div>
            <!-- Vinilo 5 -->
            <div class="col-md-4">
                <div class="vinilo">
                    <img src="{% static 'aplicacion/img/beattles.jpg' %}" alt="Vinilo 5" class="img-fluid">
                    <h4 class="mt-3">Abbey Road</h4>
                    <p>The Beatles</p>
                    <p>$40.00</p>
                    <button class="btn btn-dark"
                        onclick="addToCart('../img/beattles.jpg', 'Abbey Road', 'The Beatles', 40.00)">Agregar al
                        Carrito</button>
                </div>
            </div>
            <!-- Vinilo 6 -->
            <div class="col-md-4">
                <div class="vinilo">
                    <img src="{% static 'aplicacion/img/thriller.png' %}" alt="Vinilo 6" class="img-fluid">
                    <h4 class="mt-3">Thriller</h4>
                    <p>Michael Jackson</p>
                    <p>$30.00</p>
                    <button class="btn btn-dark"
                        onclick="addToCart('../img/thriller.png', 'Thriller', 'Michael Jackson', 30.00)">Agregar al
                        Carrito</button>
                </div>
            </div>
        </div>

        <!-- Tercera fila -->
        <div class="row mt-5">
            <!-- Vinilo 7 -->
            <div class="col-md-4">
                <div class="vinilo">
                    <img src="{% static 'aplicacion/img/thewall.jpg' %}" alt="Vinilo 7" class="img-fluid">
                    <h4 class="mt-3">The Wall</h4>
                    <p>Pink Floyd</p>
                    <p>$35.00</p>
                    <button class="btn btn-dark"
                        onclick="addToCart('../img/thewall.jpg', 'The Wall', 'Pink Floyd', 35.00)">Agregar al
                        Carrito</button>
                </div>
            </div>
            <!-- Vinilo 8 -->
            <div class="col-md-4">
                <div class="vinilo">
                    <img src="{% static 'aplicacion/img/bib.jpg' %}" alt="Vinilo 8" class="img-fluid">
                    <h4 class="mt-3">Back in Black</h4>
                    <p>AC/DC</p>
                    <p>$30.00</p>
                    <button class="btn btn-dark"
                        onclick="addToCart('../img/bib.jpg', 'Back in Black', 'AC/DC', 30.00)">Agregar al
                        Carrito</button>
                </div>
            </div>
            <!-- Vinilo 9 -->
            <div class="col-md-4">
                <div class="vinilo">
                    <img src="{% static 'aplicacion/img/lziv.jpg' %}" alt="Vinilo 9" class="img-fluid">
                    <h4 class="mt-3">Led Zeppelin IV</h4>
                    <p>Led Zeppelin</p>
                    <p>$35.00</p>
                    <button class="btn btn-dark"
                        onclick="addToCart('../img/lziv.jpg', 'Led Zeppelin IV', 'Led Zeppelin', 35.00)">Agregar al
                        Carrito</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Vinyl Store</h5>
                    <p>Tu tienda de vinilos favorita.</p>
                    <p>Dirección: Calle Falsa 123, Ciudad Falsa, País Falso</p>
                    <p>Teléfono: +123456789</p>
                </div>
                <div class="col-md-6 text-end">
                    <!-- Iconos de redes sociales -->
                    <a href="https://web.facebook.com/LuisJaraOficial/?locale=es_LA&_rdc=1&_rdr" class="social-icon"><i
                            class="fab fa-facebook"></i></a>
                    <a href="https://twitter.com/OficialLuisjara" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/luisjaraoficial/?hl=en" class="social-icon"><i
                            class="fab fa-instagram"></i></a>
                    <!-- Fin de iconos de redes sociales -->
                    <p>&copy; 2024 Vinyl Store. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap y jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JavaScript para el carrito de compras -->
    <script src="{% static 'aplicacion/js/carrito.js' %}"></script>

</body>

</html>