{% extends "aplicacion/base/baseiniciado.html" %}
{% load static %}
    
{% block content %}

<!-- Contenido -->
<div class="container">
    <h2 class="mt-5 mb-4">Mis Pedidos</h2>

    <!-- Ejemplo de pedido -->
    <div class="pedido">
        <img src="{% static 'aplicacion/img/thewall.jpg' %}" alt="Imagen del Pedido">
        <div class="pedido-info">
            <h4>The wall</h4>
            <p>Fecha: <span class="fecha">01/04/2024</span></p>
            <p>Estado: <span class="estado">En proceso</span></p>
            <p>Total: $50.00</p>
        </div>
    </div>

    <!-- Ejemplo de otro pedido -->
    <div class="pedido">
        <img src="{% static 'aplicacion/img/beattles.jpg' %}" alt="Imagen del Pedido">
        <div class="pedido-info">
            <h4>Abbey Road</h4>
            <p>Fecha: <span class="fecha">05/04/2024</span></p>
            <p>Estado: <span class="estado">Entregado</span></p>
            <p>Total: $70.00</p>
        </div>
    </div>
</div>

{% endblock content %}